@using MvcStok.Models.Entity
@*@model List<TBLSATİSLAR>*@
@model MvcStok.Models.Entity.TBLSATİSLAR
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@*<table class="table">
    <thead>
        <tr>
            <th>Ürün Adı</th>
            <th>Müşteri Adı Soyadı</th>
            <th>Adet</th>
            <th>Fiyat</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var satis in Model)
        {
            <tr>
                <td>@satis.TBLURUNLER.URUNAD</td>
                <td>@satis.TBLMUSTERILER.MUSTERIAD</td>
                <td>@satis.TBLURUNLER.STOK</td>
                <td>@satis.TBLURUNLER.FIYAT</td>
                <td>
                    <a href="/Satis/Sil/@satis.MUSTERI" class="btn btn-danger">Sil</a>
                    <a href="/Satis/SatisGetir/@satis.MUSTERI" class="btn btn-success">Güncelle</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@


    <center>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
            Satış Yap
        </button>
    </center>

    <div class="modal fade" id="Modal1" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title">Satış Yapma Ekranı</h2>
                </div>
                <form method="post" action="~/Satis/YeniSatis">
                    <div class="modal-body">
                        <label>Ürün Adı</label>
                        @Html.TextBoxFor(m => m.URUN, new { @class = "form-control" })
                        <br />
                        <label>Müşteri Adı Soyadı</label>
                        @Html.TextBoxFor(m => m.MUSTERI, new { @class = "form-control" })
                        <br />
                        <label>Adet</label>
                        @Html.TextBoxFor(m => m.ADET, new { @class = "form-control" })
                        <br />
                        <label>Fiyat</label>
                        @Html.TextBoxFor(m => m.FIYAT, new { @class = "form-control" })
                        <br />
                        <button id="btn1" class="btn btn-info">Satış İşlemini Yap</button>
                        <button class="btn btn-danger" data-dismiss="modal">Vazgeç</button>
                    </div>
                </form>

                <script>
                    $('#btn1').click(function () {
                        alert("Satış İşlemi Yapıldı");
                    });
                </script>

            </div>
        </div>
    </div>